.box {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 500px;
  padding: 5px;
  /* box-shadow: 10px 5px 10px 5px rgba(20, 1, 1, 0.89); */
}
.input {
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
  height: 30px;
  width: 200px;
}
